:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.background-fixed{
  background-image: url('./assets/TLO_80.svg');
  background-blend-mode: color;
  background-size: cover;
  position: fixed;
  top:0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.background-login{
  background-image: url("./assets/strona_logowania_tlo.svg");
}

  @font-face {
    font-family: "BigMovie";
    src: url("./assets/Big_Movie.otf") format("opentype");
  }

  *{
    font-family: "BigMovie";
  }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

footer{
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  margin: 1rem 0 0 0;
}

footer svg{
  scale: 1.7;
}

.search-section{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;;
}

.search-section form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 30px;
  background: rgb(121,91,137,0.35);
}

.search-section form > div:not(:first-child),
.search-section form > label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3rem;
  margin-right: 1rem;
  cursor: pointer;
}

.search-section form > div:not(:first-child) > *,
.search-section form > label > *{
  margin: auto 0 auto 1rem;
  width: 2rem;
  height: 2rem;
}

.search-section form > div:first-child{
  padding: 0 0.5rem;
}

.search-section form > div:first-child::after,
.search-section form > div:not(:first-child)::before,
.search-section form > label::before{
  content: '';
  width: 3px;
  border-radius: 10px;
  height: 3rem;
  display: block;
  background: white;
}

.search-section form > div{
  width: 4rem;
  display: flex;
  align-items: center;
}

.search-section div > img{
  width: 100%;
}

.search-section input{
  width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    height: 3rem;
    background: transparent;
    border: none;
    font-size: 40px;
    width: 50%;
}

form + div > div > *{
  border: 1px solid;
  background: rgb(121,91,137,0.35);
}

.cechy-to-click{
  display: flex;
  justify-content: space-evenly;
}

.cechy-to-click > div{
  width: calc(33.3333% - (5rem / 3));
  height: 5rem;
  text-transform: uppercase;
  cursor: pointer;
  background: rgb(121,91,137,0.35);
}

.cechy-to-click .cechaBox div{
  justify-content: center;
  gap: 0.5rem;

  flex-direction: row;
}

.player-main-info button{
  padding: 0.5rem 1rem;
}


.mainCechy{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

@keyframes showAsMove {
    from{
        transform: 
            perspective(1000px)
            rotateX(-16deg)
            rotateY(0deg)
    }
    to{
        transform: 
            perspective(1000px)
            rotateX(-16deg)
            rotateY(360deg)
    }
}

@media only screen and (max-width: 825px) {
    .stats{
        position: relative;
        overflow: hidden;
        width: max(80vw, 350px);
        height: 20rem;
        text-align: center;
    }
    
    .slider{
        position: absolute;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        animation: showAsMove 15s linear infinite;
        width: 200px;
        height: 250px;
        left: calc(50% - 100px)
    }

    .stats:hover .slider{
        animation-play-state: paused;
    }
    
    .cechaBox{
        /* position: absolute; */
        inset: 0 0 0 0;
        left: calc(50% - 3.5rem);
        transform: 
            rotateY(calc( (var(--showAs) - 1) * (360 / var(--howManyCechy) * 1deg)))
            translateZ(min(calc(50px + 20vw), 200px))
            ;
        box-shadow: 0px 0px 20px 5px black;
    }

    .cechaBox:nth-child(n+4){
        display: flex;
    }

}



.loginForm{
    font-size: 30px;
    border: 2px solid rgb(121,91,137);
    margin: auto;
    width: min-content;
    padding: 1rem;
    border-radius: 15px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background: black;
    height: 320px;
    position: relative;
    overflow: hidden; 
}

.loginForm > span{
    font-size: 55px;
}

.loginForm, .loginForm > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.loginForm > div label{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: start;
}

.wrongLogin{
    color: red;
    font-style: italic;
    position: absolute;
    top: 2.5rem;
}

.loginForm input{
    border-radius: 45px;
    width: 50vw;
    height: 1.5rem;
    background: black;
    font-size: 30px;
    padding: 0 1rem;
    transform: translateY(-50%);
}

.loginForm label:last-child input{
    font-size: 15px;
}

.loginForm *[role="submit"]{
    background: rgb(121,91,137,0.35);
    padding: 0.5rem 1rem;
}

.animated-border-box-container{
    width: 100vw;
    display: flex;
    padding: 10px 0;
    overflow: hidden; 
}

.animated-border-box-glow{
    z-index: -1;
    position: absolute;
    transform: translateY(calc(-100% + 5px)) translateX(calc(25% - 10px));
    height: 356px;
    border-radius: 15px;
    width: 270px;
    padding: 5px;
    /* left:0; */
    display: flex;
    margin: auto;
}

.animated-border-box:after {
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 10px;
	top: 10px;
  /* double the px from the border width left */
	width: calc(100% - 20px);
	height: calc(100% - 20px);
  /*bg color*/
	background: #292a2e;
  /*box border radius*/
	border-radius: 7px;
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

.animated-border-box:before, .animated-border-box-glow:before {
    content: '';
    overflow: hidden;
    z-index: -1;
    text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
      width: 99999px;
      height: 99999px;
      background-repeat: no-repeat;
      background-position: 0 0;
    /*border color, change middle color*/
      background-image: conic-gradient(rgba(0,0,0,0), rgb(121,91,137), rgba(0,0,0,0)25%);
    /* change speed here */
      animation: rotate 6s linear infinite;
      border-radius: 15px;
      box-shadow: 1px 1px 1px white;
  }

  .animated-border-box-glow{
    overflow: hidden;
    /* Glow Blur */
    /* filter: blur(20px); */
  } 


  .characterStats{
    display: flex;
    height: 10rem;
    /* margin: 0 0 3rem 0; */
}

.characterStats img{
    height: 100%;
}

.player-main-info{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.player-main-info-expAndName{
    padding: 0 1rem;
}

.player-main-info-expAndName p{
    color: var(--text);
    font-weight: 500;
    font-size: larger;
}

.player-main-info-expAndName span{
    font-weight: 600;
    font-size: x-large;
}

.player-main-info-lvlAndGalopy{
    display: flex;
    flex-direction: column;
    height: 10rem;
}

.player-main-info-lvlAndGalopy-item{
    height: 45%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.stats, .slider{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    margin: auto;
    gap: 0.5rem;
    align-items: center;
}

.nameRaceAndA{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 30px;
    width: max-content;
}

.expLvlHajs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.expLvlHajs > div{
    display: flex;
}

.expLvlHajs div img{
    height: 100%;
    width: 2rem;
}

.expLvlHajs div:nth-child(2) img{
    scale: 1.2
}

.expLvlHajs div:last-child img{
    filter: brightness(1) saturate(1) sepia(100%) saturate(0) hue-rotate(288deg) brightness(11);
}

.expLvlHajs div:not(:last-child) img{
    transform: scale(1.5);
    filter: invert(1)
}

.expLvlHajs > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 90px;
    background: rgb(121,91,137,0.5);
    /* opacity: 0.5; */
}

.expLvlHajs > div > div span{
    font-weight: 700;
    font-size: 30px;
}

img[alt="drut"]{
    /* position: absolute; */
    /* top: -5rem; */
    /* left: 0; */
    /* heigh: 15px; */
    margin: 5px 0;
    /* transform: scale(1.255); */
}

.nameRaceAndA > div{
    display: flex;
    gap: 5px;
    align-items: center;
}